<div class="container-fluid app-container">
  <div class="row">
      <div class="col-sm-9">
        <h1>Welcome to eLearning</h1>
        <p>eLearning is a massive open online course provider.
            It hosts online university-level courses in a wide range of disciplines to a worldwide student body,
            including some courses at no charge </p>
        <button *ngIf="!authUser" routerLink="/register" class="btn btn-info" ng-if="!authUser">
           Sign Up
        </button>
        <p *ngIf="!authUser">You need to sign up to register for free classes</p>
        </div>
      <div class="col-sm-3">
          <app-login *ngIf="!authUser"></app-login>
          <app-user-dashboard *ngIf="authUser" [authUser]="authUser"></app-user-dashboard>
      </div>
  </div>
  <hr/>
    <app-latest-classes *ngIf="authUser"></app-latest-classes>
</div>
