<div class="container-fluid app-container">
  <div class="row">
      <div class="col-sm-9">
        <h1>Welcome to eLearning</h1>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text
            ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived
            not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the
            1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing </p>
        <button *ngIf="!authUser" routerLink="/register" class="btn btn-info" ng-if="!authUser">
           Sign Up Free
        </button>
        <p  *ngIf="!authUser">You need to sign up to register from free classes</p>
        </div>
      <div class="col-sm-3">
          <app-login *ngIf="!authUser"></app-login>
          <app-user-dashboard *ngIf="authUser" [authUser]="authUser"></app-user-dashboard>
      </div>
  </div>
  <hr/>
    <app-latest-classes></app-latest-classes>
</div>
