<div class="container-fluid app-container">
  <div class="row">
      <div class="col-sm-9">
          <h1>{{authUser?.username}}'s Classes</h1>
          <table class="table table-hover">
            <thead>
              <tr>
                <th>#</th>
                <th>Title</th>
                <th>Description</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let class of classes; let i = index">
                <th scope="row">{{i + 1}}</th>
                <td class="titles"></td>
                <td>{{class.description}}</td>
                <td><a [routerLink] = "'/classes/' + class.id + '/lessons'">View Lessons</a></td>
                <td><a [routerLink] = "class.id + '/lessons/new'">Add Lesson</a></td>
              </tr>
            </tbody>
          </table>
      </div>
    <span id="hack"></span>
      <div class="col-sm-3">
          <app-login *ngIf="!authUser"></app-login>
          <app-user-dashboard *ngIf="authUser" [authUser]="authUser"></app-user-dashboard>
      </div>
  </div>
</div>
